body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
#board{
    background-color: rgb(242, 97, 189);
    height: 100vh;
    position: relative;
}
#player {
    background-color: rgb(242, 233, 108);
    position: absolute;
}